@import url(about.scss);
@font-face {
    font-family: HelveticaNeueCyr; /* Имя шрифта */
    src: url(../fonts/HelveticaNeueCyr),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot), 
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot), 
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot), 
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot), 
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf),
    url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff); 
   }
   html{
   	font-family: 'HelveticaNeueCyr';
	   
   }
   body{
   	margin:0;
   }
a{
	font-size: 14px;
		transition: all 0.3s ease;
}
.header-block-wrap{
	position: relative;
	margin: 0 auto;
	max-width: 1230px;
	

}
.block-wrap{
	margin: 0 auto;
	max-width: 1230px;
}


.header-block-top{
	display: flex;
	justify-content: space-between;
	padding:16px 27px 16px 26px;
}
.top-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
    z-index: 100;
	
}
.header-top-left__email{
	position: relative;
}
.header-top-left__call{
	margin-top: 9px;
}
.e-mail{
	color: #333333;
	font-size: 16px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	margin-left: 30px;
	text-decoration: none;

	&::before{
		content:"";
		width:18px;
		height: 14px;
		position: absolute;
		top:50%;
		left:-30px;
		transform: translateY(-50%);
		background-image: url("../img/ico/email.png");
		background-size: cover;
		
	}

}
.header-top-left__phone{
	font-size:18px;
	color:#333;
	position: relative;
	display: block;
	margin-left: 30px;
	&:before{
		content:"";
		width:17px;
		height:17px;
		position: absolute;
		top:50%;
		left:-30px;
		transform: translateY(-50%);
		background-image: url("../img/ico/phone.png");
		background-size: cover;
		
	}
}
.call-link{
	color:#0c95eb;
	font-size: 14px;
	font-weight: 600;
	margin-top:6px;
	&:hover{
		color: #29e1ff;
	}
}
.header-top-right{
	display: flex;
}
.login-block{
	text-align: right;
	margin-bottom: 16px;
}
.login-link{
	font: 14px ;
	color: #333333;
	position: relative;
	&:before{
		content:"";
		width: 13px;
		height: 15px;
		background-image: url("../img/ico/user.png");
		background-size: cover;
		position: absolute;
		right:40px;

	}
		
}
.separator{
	margin:0 8px 0 6px;
}
.registr-link{
	font: 14px ;
	color: #333333;
}
.search-block{
	position: relative;
	border-bottom: 1px solid #F2F2F2;
	z-index: 103;
	max-width: 270px;
	box-sizing: border-box;
	&::after {
		content: url("../img/ico/search.png");
		float:right;
		position: absolute;
		bottom: 0px;
		right: 0px;
		background-color: #f2f2f2;
		padding: 13px 10px 7px 10px;
		cursor:pointer;
	}	
	
}

.search-input{
	border:none;
	color:#4D4D4D;
	display: block;
	position: relative;
	line-height: 40px;
	width: 100%;
	margin-right: 154px;
	padding-left: 16px;
	
}
.header-top-right-right{
	padding-left: 26px;
}
.basket-title{
	font-size: 12px;
	margin-bottom: 8px;
	display: block;
	line-height: 2;
}
.basket-ico{
	position: relative;
}
.bascet-img{
	width: 48px;
	height: 40px;
	display: block;
    margin: 0 auto;
}
.bascet-value{
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color:#F2F2F2;
	text-align: center;
	line-height: 25px;
	top: -50%;
    left: 57%;
	transform: translate(-50%, 50%);
	
}
.nav-mobile-block{
		display: none;
	}
.nav{
	display: flex;
	justify-content: space-between;
}
.nav-left{
	z-index: 101;
}
.nav-right{
	z-index: 102;
}
.nav-link{
	color:#DBDBDB;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 60px;
	text-decoration: none;

}
.nav-link:hover{
	opacity:0.5;
}
.mr-0{
	margin-right: 0px;
}
.nav-wrap{
	padding:20px 69px 20px 30px;
	background-image: url("../img/bg-img/nav.png");
}
.slide{
	    width: 100%;
        background: #000;
}
.slide_item{
	max-width: 100%;
}
.slick-prev{
	left:30px;
	z-index: 10;
}
.slick-next{
	right:30px;
	z-index: 10;
}
.slide{
	position: relative;
}
.slide-text-block{
	position: absolute;
	top:89px;
	left:128px;
}
.slide__title{
	color:#fff;
	font-family: "Helvetica Neue Cyr";
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	max-width: 556px;
	background-color: transparent;
	margin-bottom: 39px;
}
.slide__description{
	color:#fff;
	font-family: "Helvetica Neue Cyr - Thin";
	font-size: 18px;
	max-width: 556px;
	background-color: transparent;
	margin-bottom: 36px;
}

.slide__btn{
	border-radius: 5px;
	background-color: #0c95eb;
	padding: 13px 36px 11px 38px;
	max-width: 170px;
	box-sizing: border-box;
}
.slide__btn:hover{
	background-color:aqua;
	& .slide__btn__text{
		color:#000;
	}
	
}

.slide__btn__text{
	text-align: center;
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 16px;

}
.slick-next:before {
	content: url("../img/ico/right-chevron.png");
}
.slick-prev:before {
	content: url("../img/ico/chevron-left.png");
	
}
.slide__link{
	text-decoration: none;
}
.advantages{
	background-image: url("../img/bg-img/bg-adv.png");
	background-size: cover;
}
.advantages-items{
	display: flex;
}
.bottom-bord{
	height: 1px;
	width:70%;
	background-color: #737373; 
	display: block;
	position: absolute;
	bottom:0;
	right:23px;
}
.advantages-items__item{
	display: flex;
	position: relative;
	margin-right: 0px;

}
.ml40{
	margin-left: 0px;
}
.adwantages-title{
	padding: 50px 0px 15px 30px
}
.advantages-title__head{
	color:#fff;
	font-size: 36px;
}
.advantages-items_top{
	padding: 0 15px 29px 26px;
	display:flex;
	justify-content: space-between;
}
.advantages-items_bottom{
	display: flex;
	justify-content: center;
	padding-bottom: 49px;
}
.advantages__descript{
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.advantages_text{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr";
	font-size: 18px;
	font-weight: 700;
	max-width: 150px;
}
.technologi-wrap, .footer-wrap {
	margin: 0 auto;
	max-width: 1230px;
}

.technologi-top-left{
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-right: 29px;
	
}
.technologi-top-raight{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.technologi_block{
	position: relative;
}
.technologi_block__mr35{
	margin-right: 35px;
}
.technologi_center-block{
	margin: 99px 131px 176px;
	height: 100%;
}
.technologi_text-block{
	position: absolute;
	top: 200px;
}
.technologi_bottom-block{
	margin-top: 127px;
}
.advantages__ico{
	width: 100px;
	height: 100px;
	border:1px solid #B3B3B3;
	border-radius: 50%;
}
.advan-img{
	display: block;
    margin: 25px auto;
	color:#333;

}
.technologi{
	background-image: url("../img/bg-img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 51px 30px 49px 27px;
	
}
.technologi-head{
	margin-bottom: 28px;
}
.technologi-head__text{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr";
	font-size: 36px;
	font-weight: 300;
}
.technologi-top{
	display: flex;
	margin-bottom: 183px;

}
.technologi_title{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr";
	font-size: 18px;
	font-weight: 700;
    line-height: 2;
	text-transform: uppercase;
	display: block;
	border-bottom: 1px solid #333;
	margin-bottom: 11px;
    
}
.technologi_title_one-line{
	white-space: nowrap;
}

.technologi-img__pic{
	max-width: 100%;
}
.technologi_text{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.technologi-bottom{
	display:flex;

}

.footer__main-wrap{
	background: url("../img/bg-img/footer.png") no-repeat;
	background-size: cover;
	max-width: 1230px;
	position: relative;
	margin:0 auto;
    padding-bottom: 15px;
}
.footer-wrap{
	padding: 50px 29px 0px 31px;
	margin: 0 auto;
	max-width: 1230px;
	box-sizing: border-box;
		
}
.top-wrap{
	display: flex;
}
.logo-wrap{
	margin-right: 129px;
}
.text-wrap{
	display: flex;
}
.text-wrap-l{
	margin-right: 83px;
	max-height: 115px;
}
.text-wrap-r{
	margin-right: 250px;
	max-width: 152px;
}
.footer-bottom{
	display: block;
	margin-top: 37px;
}
.texr-wrap__list{
	list-style: none;
	padding: 0;
	margin-top: 0px;
	
}
.text-wrap__items{
	margin-bottom: 14px;
}
.text-wrap__link{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	&:hover{
		color: #B2B2B2;
		
	}
	
}
.footer__e-mail, .pnone, .call-back, .social-text, .social-ico{
	display: block;
}
.footer__e-mail{
	margin-bottom: 23px;
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 16px;
	position: relative;
	text-decoration: none;
	margin-left: 26px;
	transition: all 0.3s ease;
	&:before{
		content: url(../img/ico/envelope.png);
		position: absolute;
		left: -26px;
	}
	&:hover{
	opacity:0.5;
	}
}
.phone{
	margin-bottom: 11px;
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 16px;
	position: relative;
	margin-left: 26px;
	display: block;
	&:before{
		content: url("../img/ico/phone-receiver.png");
		position: absolute;
		left: -24px;
	}
}
.call-back{
	margin-bottom: 23px;
	
	
	
}
.call-back__link{
	color: #0c95eb;
	font-family: "Helvetica Neue Cyr";
	font-size: 14px;
	font-weight: 700;
	&:hover{
		color: #29e1ff;
	}
	
}
.social-text{
	margin-bottom: 7px;
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 16px;
}
.social-ico{
	display: flex;
	justify-content: space-between;
}
.social-ico__img{
	margin-right: 19px;
	display: flex;
	align-items: center;
	&:hover{
		opacity: 0.5;
	}
	}
.footer__separator{
	height: 1px;
	background-color: #fff;
	opacity: 0.5;
	width: 100%;
	max-width: 100%;
	z-index: 222;
	position: absolute;
	bottom:50px;

}
.site-link-wrap{
	text-align: center;
}
.site-link{
	color: #ffffff;
	font-family: "Helvetica Neue Cyr - Roman";
	font-size: 14px;
	text-decoration: none;
	&:hover{
		opacity: 0.5;
	}
}
.mobile-nav{
	display: none;
}




@media screen and (min-width: 1025px) {
	.ml40{
		margin-left: 40px;
	}
} 
@media screen and (min-width: 1024px)  and (max-width: 1439px) {
	.advantages__ico{
	    width: 93px;
    	height: 93px;
	}
	.mobile-nav{
	display: none;
	}
	.nav-mobile-block{
		display: none;
	}
	.logo-wrap{
		margin-right: 4rem;
	}
	.text-wrap-r{
		margin-right: 4rem;
	}
	.technologi{
		padding-bottom: 120px
	}
	.nav-link{
		font-size: 0.7rem;
	}
	.advantages_text{
		font-size: 0.9rem;
	}
	.technologi_title{
		font-size: 1.0rem;
	}
	.search-block{
		max-width: 255px;
	}
	.mr-0{
 	margin-right: 0px;
 }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.mobile-nav{
	display: none;
	}
	.nav-mobile-block{
		display: none;
	}
	.top-wrap{
		display: block;
	}
	.technologi{
		padding-bottom: 140px
	}
	.technologi_title{
		font-size: 0.9rem;
	}
	.search-block{
		max-width: 212px;
	}
	.basket-title{
		text-align: center;
	}
	.adwantages-title{
		text-align: center;
	}
	.advantages-items__item{
		justify-content: center;
	}
	.bottom-bord{
		display: none;
	}

	.advantages-items__item{
		margin-bottom: 29px;
	}
	.advantages-items_top{
		padding-bottom: 0px;
	}
	.technologi_text-block{
		top:124px;
	}
	.technologi_text_80pr{
		width:80%;
	}

	.nav-link{
		margin-right: 45px;
	}
	.mr-0{
 	margin-right: 0px;
 	}
	 .search-input{
 	margin-right: 40px;
 	}
 	.technologi_center-block{
 		margin-bottom: 314px;
 	}
 	.logo-wrap{
 		text-align: center;
 		margin-right: 0;
 	}
 	.text-wrap{
 		justify-content: center;
 		margin-top: 30px;

 	}
 	.contacts-wrap{
 		text-align: center;
 		margin-top: 25px;
 	}
 	.footer__e-mail:before{
		left: 250px;
 	}
 	.phone:before{
 		left: 250px;
 	}
 	.social-ico{
 		justify-content: center;
 	}
 	.mr{
 		margin-right: 0;
 	}
 	.nav-wrap{
 		padding-right: 20px;
 	}
 	.slide-text-block{
 		top:11px;
 	}
 	.nav-link{
 		margin-right: 25px;
 		font-size: 0.7rem;
 	}

 	.text-wrap-r{
 		margin-right: 0;
 	}
 	.advantages-items{
 		display: block;
 	}
 	.header-top-right-right{
 		padding-left: 20px;
 	}
 	.header-top-right{
 		display: block;
 	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.mobile-nav{
		display: block;
		text-align: center;
		padding: 10px;
		
	}

	.mobile-nav__link{
		cursor:pointer;
	}
	.nav-mobile-block{
		width: 100%;
		background: rgba(140,225,233,0.8);
		z-index: 1000;
		display: block;
		position: absolute;
		top: -240px;
		left:0;
		transition: all 0.5s ease;
		
	}

	.nav-link_mob{
		color:#333;
		box-sizing: border-box;
		display:block;
		text-align: center;
		margin-right: 0;
	    padding:10px 0;
	    font-weight: 900;

	    &:hover{
	    	background: rgba(140,225,233,0.9);
	    }
	}
	.nav-mobile_visible{
		top:0px;
		position: absolute;
		transition: all 0.5s ease;
		font-size: 20px;
		
		
	}
	.header-block-top{
		position: relative;
	}
	
	.header-top-left__call{
		margin:0;
		text-align: center;
		margin-bottom: 20px;
	}
	.logo-wrap{
		text-align: center;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.text-wrap-l  {
		margin-right: 0;
		display: flex;
    	justify-content: center;
    	max-width: 100%;
	}
	.text-wrap-r {
		margin-right: 0;
		display: flex;
   		justify-content: center;
   		max-width: 100%;
	}
	.texr-wrap__list{
		width:43%;
	}
	.contacts-wrap{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.slide__title{
		font-size: 15px;
		margin: 17px;
	}
	.slide__link{
		display: block;
		margin: 0 auto;
	}
	.slide-text-block{
	    top: 3px;
    	left: 10%;
    	right: 10%;
		text-align: center;
	}
	.slide__description{
		display: none;
	}
	
	
	.nav-wrap{
		display: none;
	}
	.advantages__descript{
		padding-left: 0;
	    text-align: center;
	}
	.technologi-head{
		text-align: center;
	}
	.advantages{
		display: flex;
		flex-direction: column;
	}
	.advantages_text{
		margin-top: 20px;
	}
	.advantages-items__item{
		margin-bottom: 30px;
	}
	.advantages-items__item{
		display: block;
		
	}
	.advantages-items__item{
		margin-right: 0;
	}
	.advantages-items_bottom{
		align-items: center;
	}
	.adwantages-title{
		text-align: center;
		padding-right: 15px;
	}
	.advantages__ico{
	    width: 100px;
    	height: 100px;
    	margin: 0 auto;
	}
	.header-top-left__call{
		margin-top: 20px;
	}
	.bottom-bord{
		display: none;
	}

	.advantages-items_top{
		align-items: center;
	}
 	.header-top-left__phone:before{
 		display:none;
 	}
	.advantages-items_top{
		flex-direction: column;
		padding: 0;
	}
	.advantages-items_bottom{
		flex-direction: column;
	}
	
	.top-wrap{
		display: block;
	}
	.technologi-head{
		padding-top: 20px;
	}
	.technologi_title{
		text-align: center;
	}
	.technologi_text{
		text-align: center;
		padding: 0 10px;
	}
	.technologi-top-raight{
		margin-top: 127px;
	}
	.technologi{
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.technologi_block:last-child{
		padding-bottom: 50px;
	}
	.technologi-top{
		display: block;
		margin-bottom: 127px;
	}
	.technologi_center-block{
		margin: 127px 0 260px 0;
	}
	
	.technologi-top-left{
		display: block;
		width: 100%;
	}
	.technologi_block__mr35{
		margin-right: 0px;
	}
	.technologi-top-raight{
		width:100%;
		display: block;
	}
	.technologi-img{
		text-align: center;
	}
	.technologi-bottom{
		display: block;
	}
	.text-wrap{
		display:block;
	}
	.header-block-top{
		display:block;
		order:2;
		padding-left:0;
		margin: 0 auto;

	}
	.top-logo{
		width:100%;
		position: relative;
	}
	
	.e-mail:before{
		display: none;
		
	}

	.header-top-left__email{
		text-align: center;
		font-size: 18px;
	}
	.header-top-left__phone{
		text-align: center;
			&:before{
			content:"";
			width:17px;
			height:17px;
			position: absolute;
			top:50%;
			left:73px;
			transform: translateY(-50%);
			background-image: url("../img/ico/phone.png");
			background-size: cover;
		}
	}
	.header-top-right-left{
			display: none;
		}
	.header-block-wrap{
			display: flex;
		    justify-content: space-between;
		}	
	.header-top-left__email{
		text-align: left;
	}			
	.mobile-nav{
		margin:auto;
	}
	.header-top-left{
		display: none;
	}
}